# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
data
temp
public/data
public/tiles
public/wasm_module.js
public/wasm_module.wasm
public/tiles
dist-ssr
*.local
src/wasm/.cache
compile_commands.json

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 
external/
